* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.bg-home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: 100vw 100vh;
  min-width: 300px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 2;
}

.logo {
  display: inline-block;
  width: 3.8rem;
}

.main {
  width: 100%;
  position: absolute;
  top: 20vh;
  max-height: 80vh;
}

.home {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15vh auto 0 auto;
}

.home__text {
  display: inline-block;
  width: 45rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bg-home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  .header {
    top: 0;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__text {
    transform: translateY(-20%);
    width: 75vw;
    max-width: 65rem;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bg-home {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }

  .header {
    width: 90vw;
    top: 2rem;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__text {
    transform: translateY(-15%);
    width: 80vw;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .main {
    top: 40vh;
    padding-bottom: 20vh;
  }

  .bg-destination {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
.bg-destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: 100vw 100vh;
  min-width: 300px;
}

.destination {
  width: 70vw;
  margin: 12vh auto 0 auto;
}

.destination-moon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.destination__title {
  position: absolute;
  top: 0;
  left: 5vw;
}

.destination__content {
  margin-top: -5rem;
  width: 40rem;
}

.destination__img {
  width: 40rem;
}

.tvl-info--moon {
  white-space: nowrap;
}

.tvl-distance {
  display: inline-block;
  margin-right: 5rem;
}
.tvl-distance span {
  margin-bottom: 0.5rem;
}

.tvl-duration {
  display: inline-block;
  margin-right: 5rem;
}
.tvl-duration span {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bg-destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }

  .destination {
    margin-top: 0;
  }

  .destination__title {
    top: -8vh;
  }

  .destination-moon {
    flex-direction: column;
    text-align: center;
  }

  .destination__img {
    width: 35rem;
  }

  .destination__content {
    width: 65vw;
    max-width: 60rem;
  }

  .tvl-info--moon {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bg-destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }

  .destination {
    margin-top: 0;
  }

  .destination__title {
    top: -8vh;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .destination-moon {
    flex-direction: column;
    text-align: center;
  }

  .destination__img {
    width: 35rem;
  }

  .destination__content {
    width: 65vw;
    max-width: 60rem;
  }

  .tvl-info--moon {
    margin: 0 auto;
  }

  .tvl-distance, .tvl-duration {
    display: block;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .bg-destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
.bg-crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-size: 100vw 100vh;
  min-width: 300px;
}

.crew {
  height: 80vh;
  max-height: 80vh;
  display: flex;
  justify-content: space-evenly;
}

.crew__text {
  max-width: 50rem;
  align-self: start;
  margin-top: 12rem;
}

.crew__title {
  position: absolute;
  left: 5vw;
  top: 0;
}

.crew__img {
  height: 100%;
  align-self: end;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bg-crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  .crew {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .crew__text {
    align-self: center;
  }

  .crew__title {
    top: -10vh;
  }

  .crew__img {
    height: 40vh;
    align-self: center;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bg-crew {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }

  .crew {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: start;
  }

  .crew__text {
    margin-top: 4rem;
    align-self: center;
    position: relative;
    padding-top: 6rem;
    width: 80%;
  }

  .crew__img {
    padding: 0 20vw;
    height: 30vh;
    align-self: center;
    border: solid grey;
    border-width: 0 0 2px 0;
  }

  .crew__title {
    top: -8vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .crew__sub-title--sub, .crew__sub-title--main {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .bg-crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
html {
  --img-portrait: url("../assets/technology/image-launch-vehicle-portrait.jpg");
  --img-landscape: url("../assets/technology/image-launch-vehicle-landscape.jpg");
}

.bg-technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: 100vw 100vh;
  min-width: 300px;
}

.technology {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technology__text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65rem;
  margin-left: 10vw;
}

.technology__text {
  width: 50rem;
  margin-left: 5vw;
}

.technology__title {
  position: absolute;
  left: 5vw;
  top: 0;
}

.technology__img {
  width: 51.5rem;
  height: 52.7rem;
  min-width: 51.5rem;
  min-height: 52.7rem;
  background-image: var(--img-portrait);
  background-size: contain;
  margin-left: 5vw;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bg-technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }

  .technology {
    flex-direction: column-reverse;
  }

  .technology__img {
    background-image: var(--img-landscape);
    width: 100%;
    min-height: 36rem;
    height: 36rem;
    background-position: center center;
    background-size: cover;
    margin: 0;
  }

  .technology__text-container {
    margin-top: 10vh;
    margin-left: 0;
    flex-direction: column;
    text-align: center;
  }

  .technology__title {
    top: -10vh;
  }

  .technology__text {
    margin-left: 0;
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bg-technology {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }

  .technology {
    text-align: center;
    flex-direction: column-reverse;
  }

  .technology__img {
    background-image: var(--img-landscape);
    width: 100%;
    min-width: 100%;
    min-height: 25rem;
    height: 25rem;
    background-position: center center;
    background-size: cover;
    margin: 0;
  }

  .technology__text-container {
    margin-top: 5vh;
    margin-left: 0;
    flex-direction: column;
    width: 100%;
  }

  .technology__title {
    top: -10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .technology__text {
    margin-left: 0;
    margin-top: 2.5vh;
    width: 80%;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .bg-technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}
.nav--primary {
  width: 80rem;
  height: 7rem;
  padding: 0 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.nav__item--primary {
  padding: 2.5rem 0;
}
.nav__item--primary span {
  font-weight: bold;
}
.nav__item--primary:hover {
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 0 3px 0;
  cursor: pointer;
}

.nav--secondary {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4rem;
}

.nav__item--secondary {
  padding: 1.5rem 0;
}
.nav__item--secondary:hover {
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 0 3px 0;
  cursor: pointer;
}

.nav--mobile {
  position: absolute;
  top: -2rem;
  right: 0;
  display: none;
  width: 70vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  transition: all 0.2s ease-out;
}

.nav__item--mobile {
  padding: 3rem 4rem;
}
.nav__item--mobile:nth-child(2) {
  margin-top: 10rem;
}
.nav__item--mobile span {
  font-weight: bold;
}
.nav__item--mobile:hover {
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 0 0 3px;
}

.nav--mobile__btn-close {
  float: right;
  margin: 2rem 2rem 0 0;
}

.clicked {
  display: initial;
}

.nav--tertiary {
  width: 9.7rem;
  display: flex;
  gap: 1.5rem;
}

.nav__item--tertiary {
  width: 1.3rem;
  height: 1.3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.nav__item--tertiary:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.nav--quaternary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav__item--quaternary {
  width: 7rem;
  height: 7rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 7rem;
}
.nav__item--quaternary:hover {
  border: 2px solid #fff;
}

@media only screen and (min-width: 481px) {
  .nav--mobile {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav--primary {
    width: 45rem;
    gap: 2rem;
    padding: 0;
  }

  .nav__item--primary {
    padding: 3rem 0;
  }
  .nav__item--primary span {
    display: none;
  }

  .nav--secondary {
    justify-content: center;
  }

  .nav--tertiary {
    margin: 0 auto;
  }

  .nav--quaternary {
    flex-direction: row;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .nav--primary {
    display: none;
  }

  .nav--secondary {
    justify-content: center;
  }

  .nav--tertiary {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav--quaternary {
    flex-direction: row;
  }
}
.home__btn {
  display: inline-block;
  color: #0b0d17;
  background-color: #fff;
  text-decoration: none;
  height: 20rem;
  width: 20rem;
  min-width: 20rem;
  border-radius: 50%;
  line-height: 20rem;
  text-align: center;
  position: relative;
  transition: outline 0.2s ease-in-out;
  outline: 0 solid #171b2f;
}
.home__btn:hover {
  outline: 5rem solid #171b2f;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
  .home__btn {
    transform: scale(0.85);
  }
  .home__btn:hover {
    outline: 3rem solid #171b2f;
  }
}
.dropdown-icon__top,
.dropdown-icon__middle,
.dropdown-icon__bottom {
  background-color: transparent;
  box-sizing: content-box;
  width: 3.5rem;
  height: 8px;
  border: solid #fff;
  border-width: 3px 0 0 0;
}

.dropdown-icon__bottom {
  height: 0;
}

.dropdown-icon {
  display: none;
  background-color: transparent;
  margin-right: 3rem;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
  .dropdown-icon {
    display: inline-block;
  }
}
body {
  color: #fff;
  text-transform: uppercase;
}

.h-1 {
  font-family: "Bellefair";
  font-size: 15rem;
}

.h-2 {
  font-family: "Bellefair";
  font-size: 10rem;
}

.h-3 {
  font-family: "Bellefair";
  font-size: 5.6rem;
}

.h-4 {
  font-family: "Bellefair";
  font-size: 3.2rem;
}

.h-5 {
  font-family: "Barlow Condensed";
  font-size: 2.8rem;
  letter-spacing: 4.75px;
}

.sh-1 {
  font-family: "Bellefair";
  font-size: 2.8rem;
}

.sh-2 {
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  letter-spacing: 2.35px;
}

.body-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: initial;
  line-height: 1.8;
}

.nav__item {
  font-family: "Barlow Condensed";
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .h-1, .h-2 {
    font-size: 7rem;
  }

  .h-5 {
    font-size: 2rem;
  }

  .sh-1 {
    font-family: "Bellefair", serif;
    font-size: 2rem;
  }

  .crew__sub-title--sub {
    font-size: 2.2rem;
  }
  .crew__sub-title--main {
    font-size: 4.2rem;
  }

  .technology__sub-title--main {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .main {
    top: 40vh;
    padding-bottom: 20vh;
  }

  html {
    font-size: 50%;
  }

  .body-text {
    font-weight: normal;
  }
}
.u-flex-between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-flex-around-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.u-flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-flex-gap-small {
  gap: 4rem;
}

.u-flex-gap-small-responsive {
  gap: 10vw;
}

.u-mg-btm-small {
  margin-bottom: 1rem;
}

.u-mg-btm-medium {
  margin-bottom: 2rem;
}

.u-mg-btm-big {
  margin-bottom: 4rem;
}

.u-mg-btm-vbig {
  margin-bottom: 6rem;
}

.u-mg-right-vbig {
  margin-right: 6rem;
}

.u-pd-btm-big {
  padding-bottom: 4rem;
}

.u-inline-block {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-border-bottom-white {
  border: solid white;
  border-width: 0 0 3px 0;
}

.u-border-left-white {
  border: solid white;
  border-width: 0 0 0 3px;
}

.u-border-bottom-black {
  border: solid #343434;
  border-width: 0 0 1px 0;
}

.u-col-grey {
  color: grey;
}

.u-col-light-white {
  color: rgba(255, 255, 255, 0.5);
}

.u-bold {
  font-weight: bold;
}

.u-width-75 {
  width: 75%;
}

.u-hidden {
  display: none;
}

.u-bg-col-white {
  background-color: #fff;
}

.u-text-col-black {
  color: #0b0d17;
}

/*# sourceMappingURL=style.css.map */
