* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}
@media only screen and (max-width: 1200px) {
  body {
    padding: 0;
  }
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.primary-heading--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  animation: leftToRight 1s ease-out;
  font-weight: 400;
  padding-left: 17px;
  /*to align the heading main with heading sub*/
}
@media only screen and (max-width: 600px) {
  .primary-heading--main {
    font-size: 4.8rem;
    letter-spacing: 2.5rem;
  }
}

.primary-heading--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  animation: rightToLeft 1s ease-out;
}
@media only screen and (max-width: 600px) {
  .primary-heading--sub {
    font-size: 1.8rem;
    letter-spacing: 1rem;
  }
}

.secondary-heading {
  color: transparent;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  padding: 0 4rem;
}
@media only screen and (max-width: 900px) {
  .secondary-heading {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .secondary-heading {
    font-size: 2.8rem;
  }
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__checkbox {
  display: none;
}
.navigation__label {
  display: inline-block;
  width: 6.5rem;
  height: 6.5rem;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 100;
  text-align: center;
}
.navigation__icon {
  box-sizing: content-box;
  position: relative;
  margin-top: 3.2rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #1d1d1d;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: transform 0.4s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__label:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__label:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__background {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 80;
  transition: transform 0.8s cubic-bezier(0.6, 0.24, 0.16, 0.82);
}
.navigation__nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  transition: all 0.6s cubic-bezier(0.78, 0.09, 0.06, 1.37);
}
.navigation__nav-list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  opacity: 0;
  transition: all 0.6s;
}
.navigation__nav-item {
  margin: 1rem;
}
.navigation__nav-item span {
  margin-right: 1.5rem;
}
.navigation__nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  padding: 1rem 2rem;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-repeat: no-repeat;
  background-size: 230%;
}
.navigation__nav-link:hover {
  color: #28b485;
  background-position: right;
  transform: translateX(1.5rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__nav-list {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .navigation__background {
    top: 5rem;
    right: 5rem;
  }
  .navigation__label {
    top: 4.5rem;
    right: 4.5rem;
  }
}
.btn {
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.btn--primary {
  border: none;
  border-radius: 100px;
  padding: 1.2rem 4rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  text-transform: uppercase;
  animation: bottomToTop 0.5s ease-in 0.5s backwards;
}
.btn--primary::after {
  content: "";
  display: inline-block;
  background-color: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--primary:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn--primary:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--secondary {
  color: #28b485;
  padding: 0.3rem 3px;
  border-bottom: 1px solid #28b485;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.btn--secondary:hover {
  background-color: #28b485;
  color: #f7f7f7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn--secondary:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.btn--white {
  background-color: white;
  color: #777;
}
.btn--green {
  background-color: #55c57a;
  color: white;
}

.composition {
  position: relative;
}
.composition__img {
  width: 45%;
  position: absolute;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.composition__img:hover {
  transform: scale(1.05) translateY(-2px);
  outline: 1rem solid #28b485;
  outline-offset: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.composition__img-1 {
  top: -1rem;
  left: 0;
}
.composition__img-2 {
  top: 2rem;
  left: 35%;
}
.composition__img-3 {
  top: 10rem;
  left: 20%;
}
.composition:hover .composition__img:not(:hover) {
  transform: scale(0.95);
}
@media only screen and (max-width: 900px) {
  .composition__img {
    position: relative;
    left: 0;
    top: 0;
    width: 32.5%;
  }
  .composition__img-2 {
    transform: scale(1.1);
    z-index: 20;
  }
}

.feature__card {
  background-color: rgba(255, 255, 255, 0.8);
  width: calc((100% - 12rem) / 4);
  padding: 1.5rem;
  border-radius: 3px;
  transition: transform 0.2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.feature__card:not(:last-child) {
  margin-right: 4rem;
}
.feature__card:hover {
  transform: translateY(-1rem) scale(1.05);
}
@media only screen and (max-width: 900px) {
  .feature__card {
    width: clamp(30rem, 80%, 45rem);
  }
  .feature__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}

.feature__icon {
  display: inline-block;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.tour__card {
  width: calc((100% - 8rem) / 3);
  height: 52rem;
  perspective: 130rem;
  border-radius: 3px;
  float: left;
}
.tour__card:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (max-width: 900px) {
  .tour__card {
    width: clamp(30rem, 80%, 45rem);
    float: none;
    margin: 0 auto;
  }
  .tour__card:not(:last-child) {
    margin-right: auto;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .tour__card {
    height: initial;
  }
}
.tour__card-side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
@media only screen and (max-width: 1200px) {
  .tour__card-side {
    position: initial;
    height: initial;
  }
}
.tour__card-side--front {
  background-color: white;
}
@media only screen and (max-width: 1200px) {
  .tour__card-side--front {
    padding-bottom: 8rem;
  }
}
.tour__card-side--back {
  transform: rotateY(180deg);
}
@media only screen and (max-width: 1200px) {
  .tour__card-side--back {
    transform: rotateY(0) translateY(-5.5rem) !important;
    padding: 6rem 0 3rem 0;
    clip-path: polygon(0 5rem, 100% 0, 100% 100%, 0 100%);
  }
}
.tour__card-side--back-1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
}
.tour__card-side--back-2 {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}
.tour__card-side--back-3 {
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
}
.tour__card:hover .tour__card-side--front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 1200px) {
  .tour__card:hover .tour__card-side--front {
    transform: rotateY(0);
  }
}
.tour__card:hover .tour__card-side--back {
  transform: rotateY(0);
}
.tour__card-img {
  height: 25rem;
  background-position: center center;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.tour__card-img--1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url("../img/nat-5.jpg");
}
.tour__card-img--2 {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.tour__card-img--3 {
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url("../img/nat-7.jpg");
}
.tour__card-title {
  padding: 1rem 1.5rem;
  color: white;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
}
.tour__card-title-box {
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 4rem;
  width: 70%;
}
.tour__card-title-1 {
  background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9));
}
.tour__card-title-2 {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
}
.tour__card-title-3 {
  background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9));
}
.tour__card-details {
  width: 70%;
  margin: 2.5rem auto 0 auto;
}
.tour__card-details li {
  list-style: none;
  padding: 1rem;
}
.tour__card-details li:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.tour__cta {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1200px) {
  .tour__cta {
    position: initial;
    transform: translate(0, 0);
    width: 100%;
  }
}
.tour__cta-text {
  font-weight: 500;
}
.tour__cta-price {
  font-size: 7rem;
  font-weight: 100;
}
@media only screen and (max-width: 1200px) {
  .tour__cta-price {
    font-size: 6rem;
  }
}

.story__card {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 4rem;
  padding-right: 5rem;
  transform: skewX(-12deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.story__card::after {
  content: "";
  display: block;
  clear: both;
}
@media only screen and (max-width: 900px) {
  .story__card {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .story__card {
    transform: skewX(0);
  }
}
.story__img {
  height: 100%;
  transform: translateX(-2rem) scale(1.5);
  transition: all 0.5s ease;
}
.story__img-box {
  float: left;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: skewX(12deg);
  position: relative;
}
@media only screen and (max-width: 600px) {
  .story__img-box {
    transform: skewX(0);
  }
}
.story__img-caption {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  transition: all 0.5s ease;
  text-align: center;
  color: white;
  font-size: 1.7rem;
}
.story__text {
  transform: translateX(2rem) skewX(12deg);
}
@media only screen and (max-width: 600px) {
  .story__text {
    transform: translateX(2rem) skewX(0);
  }
}
.story__card:hover .story__img {
  transform: translateX(-2rem) scale(1);
  filter: blur(4px) brightness(75%);
}
.story__card:hover .story__img-caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.form {
  width: 45%;
  margin: 0 auto 0 0;
}
@media only screen and (max-width: 1200px) {
  .form {
    width: 75%;
  }
}
@media only screen and (max-width: 900px) {
  .form {
    width: 100%;
  }
}
.form__input-box {
  width: 85%;
}
@media only screen and (max-width: 900px) {
  .form__input-box {
    width: 100%;
  }
}
.form__input {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1.5rem;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid white;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom-color: #7ed56f;
}
.form__input:focus:invalid, .form__input:focus:placeholder-shown {
  border-bottom-color: #ff7730;
}
.form__label--name, .form__label--email {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.4rem 0 0 1.5rem;
  transition: all 0.3s;
}
.form__input--email:placeholder-shown + .form__label--email, .form__input--name:placeholder-shown + .form__label--name {
  opacity: 0;
  transform: translateY(-4.1rem);
}
.form__radio-box--outer {
  width: 85%;
}
.form__radio-box--inner-1, .form__radio-box--inner-2 {
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .form__radio-box--inner-1, .form__radio-box--inner-2 {
    display: block;
  }
}
.form__radio-box--inner-2 {
  margin-left: 5rem;
}
@media only screen and (max-width: 900px) {
  .form__radio-box--inner-2 {
    margin: 2rem 0 0 0;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  padding-left: 4rem;
}
.form__radio-btn--alt {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #28b485;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-btn--alt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  background-color: #28b485;
  border-radius: 50%;
  opacity: 0;
}
.form__radio-btn--main:checked + .form__radio-label .form__radio-btn--alt::after {
  opacity: 1;
}
.form__radio-btn--main {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 150;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup__content {
  display: flex;
  position: absolute;
  width: 75vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-out 0.2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.popup__close {
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  color: grey;
  line-height: 1;
}
.popup__close:hover {
  color: #28b485;
}
.popup__img-box {
  width: 40%;
}
.popup__img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.popup__text-box {
  width: 60%;
  padding: 5rem;
  align-self: center;
}
.popup__bodytext {
  columns: 2;
  column-gap: 3rem;
  hyphens: auto;
}
.popup__btn {
  animation: none;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (max-width: 1200px) {
  .popup__content {
    flex-direction: column;
  }
  .popup__img-box {
    width: 100%;
    height: 25rem;
  }
  .popup__img {
    height: 100%;
    width: 50%;
    display: inline-block;
  }
  .popup__text-box {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .popup__content {
    width: 90vw;
  }
  .popup__bodytext {
    columns: 1;
  }
  .popup__text-box {
    padding: 2rem;
  }
  .popup__img-box {
    height: 16rem;
  }
  .popup__close {
    top: 1.5rem;
    right: 1.5rem;
  }
  .popup__btn {
    display: block;
    text-align: center;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
  }
}
.header {
  height: 95vh;
  color: white;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  z-index: 1;
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo {
  height: 35px;
}
@media only screen and (max-width: 600px) {
  .header {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }
}

.header__hero {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.about {
  padding: 15rem 0;
  color: #777;
}
.about::after {
  content: "";
  display: block;
  clear: both;
}
.about__sub-text {
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .about {
    padding: 10rem 0;
  }
}

.about__text-content, .composition {
  width: 50%;
  float: left;
  padding: 0 8%;
}
@media only screen and (max-width: 900px) {
  .about__text-content, .composition {
    width: 80%;
    float: none;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .about__text-content {
    margin-bottom: 7rem;
  }
}
.feature {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url("../img/nat-4.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  transform: skewY(-7deg);
  color: #777;
}
.feature__icon {
  font-family: linea-basic-10;
  font-size: 6rem;
}
.feature__card-box {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  transform: skewY(7deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.feature__card-box::after {
  content: "";
  display: block;
  clear: both;
}
@media only screen and (max-width: 1200px) {
  .feature__card-box {
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .feature__card-box {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .feature {
    padding: 15rem 0;
  }
}

.tour {
  padding: 15rem 0;
}
.tour__card-box {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.tour__card-box::after {
  content: "";
  display: block;
  clear: both;
}
@media only screen and (max-width: 1200px) {
  .tour__card-box {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .tour {
    padding: 10rem 0;
  }
}

.story {
  padding: 15rem 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}
.story__bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.story__bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .story {
    padding: 10rem 0;
  }
}

.booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}
@media only screen and (max-width: 600px) {
  .booking {
    padding: 10rem 0;
  }
}

.form-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 7rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1200px) {
  .form-container {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 75%, transparent 75%), url("../img/nat-10.jpg");
  }
}
@media only screen and (max-width: 900px) {
  .form-container {
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url("../img/nat-10.jpg");
    max-width: 55rem;
    padding: 5rem;
  }
}

.footer {
  background-color: #323232;
  padding: 10rem 0;
  margin-top: -20vh;
}
.footer__content-box {
  width: 80%;
  margin: 10rem auto;
}
@media only screen and (max-width: 600px) {
  .footer__content-box {
    margin: 5rem auto;
  }
}
.footer__navigation {
  display: inline-block;
  border-top: 1px solid lightgrey;
  padding-top: 1rem;
}
.footer__navigation-box {
  display: inline-block;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .footer__navigation-box {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
  }
}
.footer__navigation-item {
  padding: 0.5rem 1rem;
}
.footer__navigation-link {
  color: lightgrey;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.footer__navigation-link:hover {
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
}
.footer__copyright {
  width: 40%;
  border-top: 1px solid lightgrey;
  padding-top: 1rem;
  color: lightgrey;
  float: right;
}
@media only screen and (max-width: 900px) {
  .footer__copyright {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.main {
  background-color: #f7f7f7;
  transform: translateY(-20vh);
  padding-top: 20vh;
}

.u-mgn-btm-vsmall {
  margin-bottom: 2rem;
}

.u-mgn-btm-small {
  margin-bottom: 4rem;
}

.u-mgn-btm-medium {
  margin-bottom: 6rem;
}

.u-mgn-btm-big {
  margin-bottom: 8rem;
}

.u-mgn-btm-vbig {
  margin-bottom: 10rem;
}

.u-mgn-top-vsmall {
  margin-top: 2rem;
}

.u-mgn-top-small {
  margin-top: 4rem;
}

.u-mgn-top-medium {
  margin-top: 6rem;
}
@media only screen and (max-width: 1200px) {
  .u-mgn-top-medium {
    margin-top: 3rem;
  }
}

.u-mgn-top-big {
  margin-top: 8rem;
}

.u-mgn-top-vbig {
  margin-top: 10rem;
}

.u-center-align {
  text-align: center;
}

.u-clear-fix {
  clear: both;
  display: block;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bottomToTop {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
