@import 'components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Lexend Deca', sans-serif;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%; // 10px
}

body {
}

.header {
  @extend %header;
}


.logo {
  @extend %logo;

  &--big {
    @extend %logo--big;
  }
}

.nav-container {
  @extend %nav-wrapper;
}

.nav {
  @extend %nav;

  &__prev-page {
    @extend %arrow;
    transform: rotate(45deg);
  }

  &__next-page {
    @extend %arrow;
    transform: rotate(-135deg);
  }

  &__goto {
    display: flex;
    align-items: center;
  }

  &__goto-input {
    @extend %search-input;
  }

  &__goto-btn {
    @extend %search-btn;
  }
}


.category, .sections, .people {

}

.category__item, .sections__item, .people__item, .special__item{
  @extend %item;
}

.quote-box-container {
  @extend %quote-box-container;
}

.heading {
  @extend %heading;
}

.quote-box {
  @extend %quote-box;

  &__serial {
    @extend %serial
  }

  &__quote {
    @extend %quote;
  }

  &__mentor {
    @extend %mentor;
  }

  &__section {
    @extend %quote-section;
  }
}

.load-btn {
  @extend %item;
}

.footer {
  @extend %footer;
  &__copyright {
    @extend %footer-link;
  }
}

@media only screen and (min-width: 481px) {

  html {
    font-size: 65%;
  }

  .nav, .quote-box {
    width: 35rem;
  }

  .todays-quotes, .people-quotes {
    gap: 4rem;
  }
}

@media only screen and (min-width: 769px) {

  html {
    font-size: 68%;
  }

  .nav, .quote-box {
    width: 45rem;
  }
}
