@use '../abstract/variable' as *;

.bg-destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: 100vw 100vh;
    min-width: 300px;
}

.destination {
    width: 70vw;
    margin: 12vh auto 0 auto;
}

.destination-moon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.destination__title {
    position: absolute;
    top: 0;
    left: 5vw;
}

.destination__content {
    margin-top: -5rem;
    width: 40rem;
}

.destination__img {
    width: 40rem;
}

.tvl-info--moon {
    white-space: nowrap;
}

.tvl-distance {
    display: inline-block;
    margin-right: 5rem;
    span {
        margin-bottom: .5rem;
    }
}

.tvl-duration {
    display: inline-block;
    margin-right: 5rem;
    span {
        margin-bottom: .5rem;
    }
}

//For Tablets
@media only screen 
and (min-width: $tablet-breakpoint-start)
and (max-width: $tablet-breakpoint-end) {

    .bg-destination {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }

    .destination {
        margin-top: 0;
    }

    .destination__title {
        top: -8vh;
    }

    .destination-moon {
        flex-direction: column;
        text-align: center;
    }

    .destination__img {
        width: 35rem;
    }

    .destination__content {
        width: 65vw;
        max-width: 60rem;
    }

    .tvl-info--moon {
        margin: 0 auto;
    }
}

//For Mobile Devices
@media only screen 
and (min-width: 0)
and (max-width: $mobile-breakpoint-end) {

    .bg-destination {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }

    .destination {
        margin-top: 0;
    }

    .destination__title {
        top: -8vh;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .destination-moon {
        flex-direction: column;
        text-align: center;
    }

    .destination__img {
        width: 35rem;
    }

    .destination__content {
        width: 65vw;
        max-width: 60rem;
    }

    .tvl-info--moon {
        margin: 0 auto;
    }

    .tvl-distance, .tvl-duration {
        display: block;
        margin-bottom: 2rem;
    }
}

// For Mobile Landscape
@media only screen 
and (max-width: 850px)
and (orientation: landscape) { 
    .bg-destination {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
}