@use '../abstract/variable' as *;

.home__btn {
    display: inline-block;
    color: $color-black;
    background-color: $color-white;
    text-decoration: none;
    height: 20rem;
    width: 20rem;
    min-width: 20rem;
    border-radius: 50%;
    line-height: 20rem;
    text-align: center;
    position: relative;
    transition: outline .2s ease-in-out;
    outline: 0 solid lighten($color-black, 7%);

    &:hover {
        outline: 5rem solid lighten($color-black, 7%);
    }
}

@media only screen 
and (min-width: 0)
and (max-width: $mobile-breakpoint-end) {
    .home__btn {
        transform: scale(.85);
        &:hover {
            outline: 3rem solid lighten($color-black, 7%);
        }
    }
}