@use '../abstract/variable' as *;

body {
    color: $color-white;
    text-transform: uppercase;
}

.h-1 {
    font-family: 'Bellefair';     
    font-size: 15rem;
}
.h-2 {
    font-family: 'Bellefair';     
    font-size: 10rem;
}
.h-3 {
    font-family: 'Bellefair';     
    font-size: 5.6rem;
}
.h-4 {
    font-family: 'Bellefair';     
    font-size: 3.2rem;
}
.h-5 {
    font-family: 'Barlow Condensed';     
    font-size: 2.8rem;
    letter-spacing: 4.75px;
}

.sh-1 {
    font-family: 'Bellefair';
    font-size: 2.8rem;
}

.sh-2 {
    font-family: 'Barlow Condensed';
    font-size: 1.4rem;
    letter-spacing: 2.35px;
}

.body-text {
    color: rgba($color-white, .8);
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: initial;
    line-height: 1.8;
}

.nav__item {
    font-family: 'Barlow Condensed';
    font-size: 1.6rem;
    letter-spacing: 2.7px;
}



//For Tablets
@media only screen 
and (min-width: $tablet-breakpoint-start)
and (max-width: $tablet-breakpoint-end) {
    html {
        font-size: 50%;
    }
}

//For Mobile Devices
@media only screen 
and (min-width: 0)
and (max-width: $mobile-breakpoint-end) {
    
    html {
        font-size: 50%;
    }

    .h-1, .h-2 {
        font-size: 7rem;
    }

    .h-5 {
        font-size: 2rem;
    }

    .sh-1 {
        font-family: 'Bellefair', serif;
        font-size: 2rem;
    }

    .crew__sub-title {
        &--sub {
            font-size: 2.2rem;
        }
        &--main {
            font-size: 4.2rem;
        }
    }

    .technology__sub-title {
        &--main {
            font-size: 4.2rem;
        }
    }
}

// For Mobile Landscape
@media only screen 
and (max-width: 850px)
and (orientation: landscape) { 
    .main {
        top: 40vh;
        padding-bottom: 20vh;
    }

    html {
        font-size: 50%;
    }

    .body-text {
        font-weight: normal;
    }
}