@use '../abstract/variable' as *;

.u-flex-between-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.u-flex-around-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.u-flex-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-flex-gap-small {
    gap: $nav-gap-small;
}

.u-flex-gap-small-responsive {
    gap: 10vw;
}

.u-mg-btm-small { margin-bottom: 1rem};
.u-mg-btm-medium { margin-bottom: 2rem};
.u-mg-btm-big { margin-bottom: 4rem};
.u-mg-btm-vbig { margin-bottom: 6rem};
.u-mg-right-vbig { margin-right: 6rem};
.u-pd-btm-big { padding-bottom: 4rem};

.u-inline-block { display: inline-block};
.u-block { display: block};
.u-border-bottom-white { 
    border: solid white;
    border-width: 0 0 3px 0;
}
.u-border-bottom-black { 
    border: solid darken(grey, 30%);
    border-width: 0 0 1px 0;
}

.u-col-grey { color: grey };
.u-bold { font-weight: bold };

.u-width-75 { width: 75%};

.u-hidden { display: none; }