// COLORS
$color-white: #fff;
$color-black: #0b0d17;


// LENGTH
$nav-primary-width-desktop: 80rem;
$nav-primary-width-tablet: 45rem;
$nav-gap-medium: 8rem;
$nav-gap-small: 4rem;
$nav-gap-vsmall: 2rem;


$main-content-bottom-gap: 8rem;

// BREAKPOINTS
$mobile-breakpoint-end: 480px;
$tablet-breakpoint-start: 481px;
$tablet-breakpoint-end: 1024px;